body{
    background-color: #eaedf1;
    margin: 0;
}
.container{
    margin:105px;
    margin-bottom: 0px;
    width: 1711px;
    height: 2000px;
    position: relative;
}
.description{
    background-color: #eaedf1;
    width:100%;
    height: 373px;
    border-radius: 2px;
}
.profile,
.contacts{
    background-color: #eaedf1;
    height: 373px;
    position:absolute;
}
.profile{
    top:0px;
    left:0px;
    width:550px;
}
.contacts{
    top:0px;
    right: 0px;
    width: 1052px;
}
.main{
    width: 100%;
    height: 1400px;
    margin-top: 50px;
    position: relative;
}
.left-side,
.right-side{
    width: 807px;
    height: 1415px;
    box-sizing: border-box;
    float: left;
    position: absolute;
}
.right-side{
    right: 0;
}
.footer{
    clear: both;
    width: 100%;
    height: 140px;
}
.my-name{
    background-color: white;
    height: 273px;
    width: 100%;
    background:white url("images/face.png") no-repeat 30px 40px;
    position: relative;
    border-radius: 2px;
}
.name{
    position: absolute;
    right:42px;
    top:95px;
}
.marie{
    font-size: 39px;
    font-family: 'Signika', sans-serif;
}
.bordeaux{
    display: block;
    font-family: 'Signika Negative', sans-serif;
    font-size: 23px;
    color:#667485;
}
.icons{
    width: 100%;
    height: 100px;
    padding: 0%;
    margin: 0%;
}
.icon1,
.icon2,
.icon3,
.icon4{
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100px;
    float: left;
    padding: 23px;
    text-align: center;
    box-sizing: border-box;
}
.icon1{
    background-color: #16c4ec;
}
.icon2{
    background-color: #fa5351;
}
.icon3{
    background-color: #10cdc1;
}
.icon4{
    background-color: #33495f;
}
.contacts-text{
    width: 630px;
    height: 373px;
    float: left;
    position: relative;
    background-color: white;
    padding-top: 55px;
    padding-left: 41px;
    padding-right: 70px;
    padding-bottom: 0px;
    box-sizing: border-box;
}
.title-contacts{

    font-family: 'Signika', sans-serif;
    font-size: 45px;
    margin-bottom: 5px;
    text-align: justify;
    margin-bottom: 13px;
    display: block;

}
.text-contacts{
    display: block;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    line-height: 1.6;
    font-size: 24px;
}
.mail-site{
    width: 422px;
    height: 373px;
    float: left;
    background-color: white;
    padding-top: 130px;
    padding-left: 22px;
    box-sizing: border-box;
}
.web-site,
.mail{
    font-family: 'Lato', sans-serif;
    display: block;
    box-sizing: border-box;
    font-size: 30px;
    
}
.web-site{
    color:red;
    margin-top: 25px;
    font-size: 27px;
}
hr{
    width: 345px;
    margin-top:42px;
    margin-right: 51px;
}
.social{
    clear: both;
    width: 630px;
    height: 100px;
    position: absolute;
    bottom: 0;
    padding-right: 60px;
    box-sizing: border-box;
    float: left;
}
.social-ic1,
.social-ic2,
.social-ic3,
.social-ic4,
.social-ic5,
.social-ic6{
    margin: 0px;
    float: left;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 15px;
    box-sizing: border-box;

    padding-bottom: 27px;

}
.secret-velvet,
.cortix,
.ademe,
.impec-toonga{
    width: 807px;
    margin-bottom: 40px;
    background-color: white;
    box-sizing: border-box;
}
.secret-velvet{
    height: 430px;
    margin-right: 20px;
}
.cortix{
    height: 410px;
}
.ademe,
.impec-toonga{
    height: 213px;
}
.left-container{
    padding-top: 37px;
    padding-left: 28px;
}
.left-side-title{
    font-family: 'Signika', sans-serif;
    font-size: 31px;
}
.sub-info{
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color:#AFB6C1 ;

}
.green-text{
    color: #28C0AB;
    font-family: 'Signika', sans-serif;
    font-size: 27px;
}
.left-list{
    list-style-image: url("images/marker.png");
    margin-left: 23px;
    margin-top: 40px;
    font-size: 21px;
    font-family: 'Lato', sans-serif;
}
.left-list>li{
    margin-top: 14px;
}
.card-bottom{
    margin-left: 28px;
    margin-top:63px;
    font-family: 'Lato', sans-serif;
    color:#AFB6C1 ; 
    font-size: 19px;
    position: relative;
}
.card-bottom-little{
    margin-left: 28px;
    margin-top:50px;
    font-family: 'Lato', sans-serif;
    color:#AFB6C1 ; 
    font-size: 19px;
    position: relative;
}
.place{
    float: left;
    margin-right: 72px; 
}
.year{
    float: left;
}
.button-blue,
.button-grey{
    position: absolute;
    border-radius: 3px;
    background-color: #16C4EC;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    font-size: 20px;
    width: 275px;
    padding-top: 9px;
    padding-bottom: 12px;
    float: left;
    vertical-align: middle;
    right: 33px;
    top:-11px
}
.button-grey{
    background-color:#B0BBCA ;
}
.cortix>ul{
    margin-top:20px;
}
.yelp,
.qoqa,
.cefire,
.ecole,
.stats{
    width: 100%;
    margin-bottom: 40px;
    background-color: #dbe1e8;
}
.yelp,
.qoqa{
    height: 215px;
}
.cefire,
.ecole{
    height: 164px;

}
.stats{
    height: 516px;
    background-color: white;
}
.border{
    width: 100%;
    height: 1px;
    border: 1px dotted grey;
    margin-bottom: 40px;
}
.ic-txt{
    color: white;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    display: block;
}
.icon1>span{
    margin-top: 12px;
}
.icon2>span{
    margin-top: 9px;
}